
*.csv
cr/
evr/
hog/
Potato/
rgb_deviation/

proj

containers

site/frontend/node_modules/
site/node_modules
site/frontend/.output
site/frontend/.vercel
site/frontend/.netlify
site/frontend/.wrangler
site/frontend//.svelte-kit
site/frontend//build
site/frontend//dist
site/frontend/.DS_Store
site/frontend/Thumbs.db
site/frontend/.env
site/frontend/.env.*
site/frontend/vite.config.ts.timestamp-*
site/frontend/!.env.example
site/frontend/!.env.test
site/frontend/vite.config.js.timestamp-*

site/backend/server/bin/


.env

/images
/shared
target
bin
__pycache__

/inputs
/tmp
/log.txt

/assets
*.pdf
